.weatherApp {
    display: flex;
    flex-direction: column;
    align-self: center;
    padding: 24px;
    border-radius: 24px;
    background: #4D51BF;
    background: linear-gradient(141deg,rgba(77, 81, 191, 1) 0%, rgba(101, 67, 184, 1) 100%);
    gap: 16px;
    max-width: 640px;
}
.searchBar, .searchButton, .weatherCity, .weatherMisc, .miscData div, .forecast div{
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}

.searchSection {
    display: flex;
    flex-direction: row;
    gap: 16px;
}
.searchBar {
    width: 100%;
    border: 0;
    padding: 0 16px;
    font-size: 16px;
    color: aliceblue;
    font-family: 'Rubik';
}
.searchBar:focus {
    border: 0;
    outline: dashed;
    outline-color: hotpink;
}

input.searchBar::placeholder{
    color: aliceblue;
    font-family: 'Rubik';
}
input.searchBar:focus::placeholder{
    color: transparent;
}

.searchButton {
    padding: 16px;
    border: 0;
    color: rgb(212, 225, 236);
    cursor: pointer;
}
.searchButton:hover {
    background: rgba(255, 255, 255, 0.1);
}
.searchButton:active {
    background: rgba(255, 255, 255, 0.1);
    box-shadow: inset 1px 1px 4px rgba(0, 0, 0, 0.4);
    color: rgb(180, 191, 201);
}

.weatherData {
    display: flex;
    flex-direction: row;
    gap: 16px;
}

.weatherCity {
    flex-grow: 2;
    height: 100%;
    width: 160px;
    text-align: center;
    padding: 16px;
}

.weatherMisc {
    display: flex;
    flex-direction: column;
    flex-grow: 4;
    gap: 16px;
}

.miscData{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 16px;
    gap: 16px;
}

.miscData div{
    text-align: center;
    min-width: 60px;
    padding: 16px;
}

.forecast {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 16px;;
    gap: 16px;
}
.forecast div{
    width: 100%;
    text-align: center;
}


@media (max-width: 800px) {
    
    .weatherApp {
        width: 100%;
        padding: 16px; 
    }
    .weatherData {
        flex-direction: column;
        gap: 16px;
    }
    .weatherCity {
        box-sizing: border-box; 
        width: 100%; 
        flex-grow: 1;
        flex-shrink: 1;
        flex-basis: auto; 
    }
    .weatherMisc{
        gap: 0;
    }
    .miscData {
        flex-wrap: wrap; 
        justify-content: space-around; 
        padding: 16px;
    }

    .miscData div {
        flex: 1 1 40%; 
        min-width: unset; 
        padding: 12px 8px; 
        margin: 0; 
    }
    .forecast {
        justify-content: space-around;
        padding: 16px;
    }
    .forecast div {
        flex: 1 1 30%;
        padding: 12px 0;
    }
    .forecast div img {
        width: 50px;
        height: auto;
    }
}